.container {
    min-width: 1200px;
}

th {
    background: #fcfcfc;
}

td {
    background: #ffffff;
}

table td.col-1, th.col-1 {
    width: 8.333%;
}

table td.col-2, th.col-2 {
    width: 16.666%;
}

table td.col-3, th.col-3 {
    width: 25%;
}

table td.col-4, th.col-4 {
    width: 33.333%;
}

table td.col-5, th.col-5 {
    width: 41.666%;
}

table td.col-6, th.col-6 {
    width: 50%;
}

table td.col-7, th.col-7 {
    width: 58.333%;
}

table td.col-8, th.col-8 {
    width: 66.666%;
}

table td.col-9, th.col-9 {
    width: 75%;
}

table td.col-10, th.col-10 {
    width: 83.333%;
}

table td.col-11, th.col-11 {
    width: 91.666%;
}

table td.col-12, th.col-12 {
    width: 100%;
}

[data-vif] {
    display: none;
}